// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.registration-form  {
  display: flex;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
}